*.vim
*~
*#
src_managed
project/plugins/project
project/boot/*
*/project/build/target
*/project/boot
*/project/project.target.config-classes
lib_managed
target
.history
.ensime*
tm*.log
tm*.lck
tm.out
*.tm.epoch
.DS_Store
*.iws
*.ipr
*.iml
.project
.settings
.classpath
.cache
.idea
.scala_dependencies
.cache
.eprj
.*.swp
*.sublime-project
*.sublime-workspace
.target
.scalastyle
.worksheet
